@media only screen and (max-width: 812px)

	body
		width: 100%

	header p
		width: 100%

	.hero
		max-width: 100%

		.logo
			font-size: 20px
		.desktopNav
			a 
				font-size: 10px
				padding-left: 10px

		.heroContent
			left: 0
			margin-left: 20%
			margin-top: 20%
			width: 50%

			.btn
				width: 130px
				height: 40px
				font-size: 15px

		.scroll
			a
				font-size: 10px

		.video
			max-width: 100%


	.about
		height: 200%

		.flex-2
			width: 100%
			display: block
			text-align: center

			.flexItem
				img
					display: none

	.equip
		height: 200%

		.flex-3
			width: 100%
			display: block
			text-align: center



	.contact
		width: 100%
		height: 160vh

	.container
		margin-top: -1000px
		h1
			padding-top: -200px

	.flex-4
		display: block
		margin-top: 90px

		.flexText
			display: block
			

		.flexItem
		
			display: block
			margin-right: -220px
			width: 100%
			iframe
				max-width: 100%
				
		



@media only screen and (max-width: 414px)

	body
		width: 100%

	header p
		width: 100%

